
body
{
  line-height: 34px;
  font-family: Arial, Helvetica Neue, Helvetica, Sans-serif;
  color: #777777;
  background-image: url('../images/backgroundZebra.png');
  background-repeat: repeat-x repeat-y;
}

header
{
  overflow: auto;
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px 0px;
  overflow: auto;
  background: #fff;
  border-bottom: 2px solid #cccccc;
}

.nameLogo
{
  background: #4aaaa5;
  color: #ffffff;
  float: left;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  width: 250px;
}

.content
{
  margin: auto;
  min-width: 960px;
  min-height: 400px;
  margin-bottom: 100px;
  margin-left: 120px;
  padding-top: 130px;
}

footer
{
  background-color: #666666;
  width: 100%;
  text-align: center;
  line-height: 70px;
  border-top: 10px solid #499995;
}

.navigator
{
  margin-left: 120px;
  width: 960px;
  /*clear: both; *//*removed this and no change happened*/
}

nav
{
  float:right;
  margin-top : 30px;
}

nav a
{
  border-left: 1px solid #efefef;
  color: #999999;
  display:inline-block;
  line-height: 18px;
  margin-left: 15px;
  padding-left: 15px;
  text-decoration: none;
}

nav a:first-child
{
  border-left: 0 none;
}

li
{
  display: inline;
  float: right;
  font-size:18px;
  margin-left : 10px;
  padding: 0px 5px 10px 0px;
}

h1
{
  background-color: #499995;
  color: #ffffff;
  font-family: Georgia, Times, Times New Roman, Serif;
  font-size:40px;
}

h2
{
  border-bottom: 3px solid #ddd;
  color: #499995;
  font-size: 20px;
  line-height: 48px;
  margin: 20px 10px 0px 20px;
}

h3
{
  border-bottom: 2px solid #ddd;
  color: #499995;
  font-size: 18px;
  line-height: 48px;
  margin: 20px 20px 0px 20px;
  text-align:center;
}

.clearfix::after
{
  clear: both;
  content: "";
  display: block;
}

.mainbar
{
  background-color: #ffffff;
  border: 2px solid #dddddd;
  float: left;
  margin-right: 45px;
  padding-right: 5px;
  width: 650px;
}

.sidebar
{
  background-color: #ffffff;
  border: 2px solid #dddddd; 
  float: left;
  width: 270px;
}

.mainSection
{
  margin: 15px;
}

a 
{
  text-decoration: none;
}

.project
{
  float: left;
  margin: 20px 10px 25px;
  overflow: auto;
  position: relative;
  width: 260px;
}

.project img
{
  border-left: 20px;
  border-right: 20px;
  opacity: 0.8;
  width: 100%;
}

.project p
{
  /*margin-bottom: 5px;*/
  background-color: #499995;
  border-bottom: 0;
  bottom: 20px;
  color: #ffffff;
  padding: 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.myImage
{
  float: left;
  height: 200px;
  padding: 5px 10px 20px 10px;
  width: 200px;
}

.myLinks
{
  border-bottom: 20px;
  margin: 20px 20px 20px 20px;
}

img.logo
{
  height: 60px;
  margin: 0px 5px 20px 5px;
  width: 60px;
}

input[type=submit]
{
  background-color:#499995;
  display:inline-block;
  font-size:20px;
  padding: 10px 20px;
}

.passage
{
  line-height: 25px;
  padding-left: 10px;
}

textarea
{
  height: 200px;
  width: 100%;
}

input[type="text"],
input[type="email"]
{
  font-size: 15px;
  height: 30px;
  width: 100%;
}

/*media queries for making the site responsive*/
@media screen and (max-width: 980px)
{
  .navigator
  {
    max-width: 720px;
  }
  .content
  {
    margin: auto;
    min-width: 750px;
    min-height: 400px;
    margin-bottom: 100px;
    margin-left: 120px;
    padding-top: 130px;
  }
  
  .mainbar
  {
    max-width: 400px;
  }

  .mainSection .project
  {
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px)
{
  .navigator
  {
    width: 600px;
    margin-left: 80px;
  }
  
  .content
  {
    margin: auto;
    min-width: 600px;
    min-height: 400px;
    margin-bottom: 100px;
    margin-left: 80px;
    padding-top: 130px;
  }
  
  .mainbar
  {
    min-width: 600px;
  }
  .sidebar
  {
    width: 600px;
  }
}

@media screen and (max-width: 640px)
{
  .navigator
  {
    width: 500px;
  }
  .content
  {
    margin: auto;
    width: 500px;
    min-height: 400px;
    margin-bottom: 100px;
    margin-left: 60px;
    padding-top: 130px;
  }
  
  .mainbar
  {
    max-width: 400px;
  }
  
  .sidebar
  {
    width: 400px;
  }
}
