
body
{
  line-height: 34px;
  font-family: Arial, Helvetica Neue, Helvetica, Sans-serif;
  color: #777777;
  background-image: url('../images/backgroundZebra.png');
  background-repeat: repeat-x repeat-y;
}
.containsAll
{
  margin: 0 auto;
}
/*------------HEADER-------------------------*/
header
{
  position: fixed;
  margin: 0 auto;
  z-index: 99;
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  border-bottom: 2px solid #cccccc;
}
.navigator
{
  width: 960px;
  margin: 0 auto;
}
.nameLogo
{
  background: #4aaaa5;
  color: #ffffff;
  float: left;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  width: 250px;
}
nav
{
  float:right;
  margin-top : 30px;
}
nav a
{
  border-left: 1px solid #efefef;
  color: #999999;
  line-height: 18px;
  margin-left: 15px;
  padding-left: 15px;
}
nav a:first-child
{
  border-left: 0 none;
}
li
{
  display: inline-block;
  float: right;
  font-size:18px;
  margin-left : 10px;
  padding: 0px 5px 10px 0px;
}

/*---------------BODY-----------------------------*/
.content
{
  margin:0 auto;
  max-width: 960px;
  margin-bottom: 100px;
  padding-top: 130px;
}
h1
{
  background-color: #499995;
  color: #ffffff;
  font-family: Georgia, Times, Times New Roman, Serif;
  font-size:40px;
}
h2
{
  border-bottom: 3px solid #ddd;
  color: #499995;
  font-size: 20px;
  line-height: 48px;
  margin: 20px 10px 0px 20px;
}
h3
{
  border-bottom: 2px solid #ddd;
  color: #499995;
  font-size: 18px;
  line-height: 48px;
  margin: 20px 20px 0px 20px;
  text-align:center;
}
.clearfix::after
{
  clear: both;
  content: "";
  display: block;
}
.mainbar
{
  background-color: #ffffff;
  border: 2px solid #dddddd;
  float: left;
  width: 650px;
}
.sidebar
{
  background-color: #ffffff;
  border: 2px solid #dddddd; 
  float: right;
  min-width: 270px;
}
.mainSection
{
  margin: 15px;
}
a 
{
  text-decoration: none;
}
.project
{
  float: left;
  margin: 20px 10px 25px;
  overflow: auto;
  position: relative;
  width: 270px;
}
.project img
{
  opacity: 0.8;
  width: 100%;
  
  border: 0 none;
}
.project p
{
  /*margin-bottom: 5px;*/
  background-color: #499995;
  border-bottom: 0;
  bottom: 20px;
  color: #ffffff;
  padding: 15px 0px 15px 0px; /*this was causing the scrolling*/
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.myImage
{
  float: left;
  height: 200px;
  padding: 5px 10px 20px 10px;
  width: 200px;
}
.myLinks
{
  border-bottom: 20px;
  margin: 20px 20px 20px 20px;
}
img.logo
{
  height: 60px;
  margin: 0px 5px 20px 5px;
  width: 60px;
}
input[type=submit]
{
  background-color:#499995;
  display:inline-block;
  font-size:20px;
  padding: 10px 20px;
}
.passage
{
  line-height: 25px;
  padding-left: 10px;
}
textarea
{
  height: 200px;
  width: 100%;
}
input[type="text"],
input[type="email"]
{
  font-size: 15px;
  height: 30px;
  width: 100%;
}

/*---------------FOOTER--------------------------*/
footer
{
  background-color: #666666;
  width: 100%;
  text-align: center;
  line-height: 70px;
  border-top: 10px solid #499995;
}


/*media queries for making the site responsive*/
@media screen and (max-width: 980px)
{
  .navigator
  {
    width: 720px;
  }
  .content
  {
    margin: auto;
    width: 700px;
    margin-bottom: 100px;
    padding-top: 130px;
  }
  
  .mainbar
  {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px)
{
  .navigator
  {
    width: 630px;
  }
  .content
  {
    margin: auto;
    width: 630px;
    margin-bottom: 100px;
  }
  .mainbar
  {
    min-width: 630px;
  }
  .sidebar
  {
    margin-top: 10px;
    width: 630px;
    float: left;
  }
  .project
  {
    width: 47%;
  }
  .project:nth-child(odd)
  {
    float:right;
  }
}

@media screen and (max-width: 640px)
{
  header
  {
    padding:0px;
    width: 100%;
  }
  .navigator
  {
    width: 100%;
  }
  nav
  {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .content
  {
    margin:0 auto;
    width: 100%;
  }
  .mainbar
  {
    width: 100%; 
    margin: 5px 10px; 
  }
  .sidebar
  {
    width: 100%;
    margin: 5px 10px;
  }
  .nameLogo
  {
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0 auto;
  }
  .nav
  {
    display: inline-block;
    width: 100%;
    margin: auto;
  }
  nav a
  {
    width: 30%;
    text-align: center;
  }
}

